*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
  
}

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  max-width: 1600px;
}
header{
    max-height: 837px;
    background-color: #FFF8F3;
    background: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position:23px 38px, bottom right;
}
.header-section{
    max-width: 1140px;
    margin: 0 auto;         
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-section .nav-logo{
    max-width: 121px;

}
.header-section .nav-logo .logo{
    font-size: 45px;
    font-weight: 800;
    color: #181818;

}
.header-section .nav-logo .logo .r{
    color: #FD6E0A;
}
.header-section .navbar ul{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.header-section .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.header-section .navbar ul li button{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.hero-section{
    max-width: 1332px;
    padding: 46px 30px 0 230px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 163px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position:bottom right;
}
.hero-section .hero-details{
    max-width: 585px;


}
.hero-section .hero-details h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    padding-bottom:5px ;

}
.hero-section .hero-details h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 20px;
}
.hero-section .hero-details p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.hero-section .hero-buttons{
  margin-right:30px ;
}
.hero-section .hero-buttons .download-cv{
    background-color: #FD6E0A;
    border: none;
    padding: 19px 17px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold ;
}
.hero-section .hero-buttons .contact{
    padding: 19px 24px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: white;
}
.hero-section .hero-image{
    max-width: 584px;
    max-height: 676px;
}
.hero-section .hero-image img{
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.about-section{
    margin-top: 112px;
    margin-bottom: 130px;
    max-width: 1140px;
    text-align: center;
    background-color: #FFF8F3;

}
.about-section .about-div{
    max-width: 827px;
    padding: 131px 157px;
}
.about-section .about-div .about-details h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px;
}
.about-section .about-div .about-details p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}
.about-section .about-div .about-info{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.about-section .about-div .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-section .about-div .about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #474747;
}








