*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.header-section{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section .nav-logo{
    max-width: 121px;

}
.header-section .nav-logo .logo{
    font-size: 45px;
    font-weight: 800;
    color: #181818;

}
.header-section .nav-logo .logo .r{
    color: #FD6E0A;
}
.header-section .navbar ul{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.header-section .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.header-section .navbar ul li button{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
}


