*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
  
}
hr{
    max-width: 558px;
}

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  max-width: 1600px;
}
header{
    max-height: 837px;
    background-color: #FFF8F3;
    background: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position:23px 38px, bottom right;
}
.header-section{
    max-width: 1140px;
    margin: 0 auto;         
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-section .nav-logo{
    max-width: 121px;

}
.header-section .nav-logo .logo{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    cursor: pointer;

}
.header-section .nav-logo .logo .r{
    color: #FD6E0A;
}
.header-section .navbar ul{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.header-section .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.header-section .navbar ul li button{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.hero-section{
    max-width: 1332px;
    padding: 46px 30px 0 230px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 163px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position:bottom right;
}
.hero-section .hero-details{
    max-width: 585px;


}
.hero-section .hero-details h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    padding-bottom:5px ;

}
.hero-section .hero-details h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 20px;
}
.hero-section .hero-details p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.hero-section .hero-buttons{
  margin-right:30px ;
}
.hero-section .hero-buttons .download-cv{
    background-color: #FD6E0A;
    border: none;
    padding: 19px 17px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold ;
    cursor: pointer;
}
.hero-section .hero-buttons .contact{
    padding: 19px 24px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: white;
    cursor: pointer;
}
.hero-section .hero-image{
    max-width: 584px;
    max-height: 676px;
}
.hero-section .hero-image img{
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.about-section{
    margin-top: 112px;
    margin-bottom: 130px;
    max-width: 1140px;
    text-align: center;
    background-color: #FFF8F3;

}
.about-section .about-div{
    max-width: 827px;
    padding: 131px 157px;
}
.about-section .about-div .about-details h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px;
}
.about-section .about-div .about-details p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}
.about-section .about-div .about-info{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.about-section .about-div .about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-section .about-div .about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #474747;
}
.what-i-do{
    text-align: center;

}
.what-i-do .what-i-do-header h2{
    max-width: 167px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 30px;

}
.what-i-do .what-i-do-header p{
    max-width: 827px;
    font-size:18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 50px;
}
.what-i-do .skills{
    display: flex;
    gap: 24px;
    justify-content: center;

}
.what-i-do .skills .skill-card{
    max-width: 267px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 3px 4px 25px rgba(0, 0, 0, 0.38);
    margin-bottom: 130px;
}
.what-i-do .skills .skill-card .skill-logo{
     max-width: 44px;
     padding:30px 190px 30px 30px;
}

.what-i-do .skills .skill-card img{

}
.what-i-do .skills .skill-card .skill-head{
    max-width: 204px;
}
.what-i-do .skills .skill-card .skill-head h4{
    font-size: 20px;
    font-weight: bold;
    max-width: 174px;
    padding-bottom: 20px;

}
.what-i-do .skills .skill-card .skill-head p{
    max-width: 201px;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 30px;
}

.Summary-section{
    text-align: center;
}
.Summary-section .summary-flex{
    display: flex;
}

.Summary-section .summary-header{
    max-width: 455px;
    padding-bottom: 113px;
}
.Summary-section .summary-header h2{
    font-size: 35px;
    font-weight: bold;
}
.Summary-section .My-Education .edu-head{
    max-width: 203px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    text-decoration: underline;
    padding-bottom: 30px;
}
.Summary-section .My-Education .master {
    max-width: 511px;
}
.Summary-section .My-Education .master h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    padding-bottom: 10px;    

}
.Summary-section .My-Education .master .master-date{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #757575;

}
.Summary-section .My-Education .master p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-bottom: 30px;


}

.Summary-section .My-Experience .experience-head{
      max-width: 218px;
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    text-decoration: underline;
    padding-bottom: 30px;


}
.Summary-section .My-Experience .experience{
    max-width: 511px;
}
.Summary-section .My-Experience .experience h3{
     font-size: 25px;
    font-weight: bold;
    color: #474747;
    padding-bottom: 10px;  

}
.Summary-section .My-Experience .experience .experience-date{
     font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #757575;

}
.Summary-section .My-Experience .experience p{
       font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-bottom: 30px;

}
.Summary-section .btn button{
    margin-top: 50px;
    margin-bottom: 95px;
    padding: 19px 17px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    max-width: 1600px;
    background-color: #FFF8F3;
}
footer .footer{
    display: flex;
}
.footer .social-media{
    padding-top: 130px;

}
.footer .social-media h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 20px;
}
.footer .social-media p{
    max-width: 562px;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    padding-bottom: 30px;
}
.footer .social-media .social-icon img{
    cursor: pointer;
    margin-right: 24px;
}
.footer .contact-form{
    padding-bottom: 128px;
}
.footer .contact-form{
    padding-top: 130px;

}
.footer .contact-form h3{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 28px;
}
.footer .contact-form form input, textarea{
    display: block;
}
.footer .contact-form form input[type=text]{
    height: 64px;
    width: 461px;
   margin-bottom: 24px;
   border: none;
   background-color: white;
}
.footer .contact-form form input[type=email]{
        height: 64px;
    width: 461px;
   margin-bottom: 24px;
   border: none;
   background-color: white;

}
.footer .contact-form form input, textarea{
    padding: 11px 18px;
}
.footer .contact-form form textarea{
    border-radius: 5px;
    height: 180px;
    width: 461px;
    margin-bottom: 24px;

}
.footer .contact-form form textarea::placeholder{
      font-size: 18px;
    line-height: 28px;
    padding: 18px 30px;
    
}
.footer .contact-form form input::placeholder{
    padding: 18px;
    font-size: 18px;
    line-height: 28px;
}
.footer .contact-form button{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 39px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
footer .copy-rights {
    text-align: center;
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
}



















